extends layout 
 
block content 
  h1= title 
 
  form(id='DenimForm', action="/resource/denims", method="POST") 
    div.form-group 
        label.denimAttr(for='length') Denim Length
        input#costume_type(type='number', name='length') 
    div.form-group 
        label.denimAttr(for='width') Denim Width
        input#size(type='number', name='width') 
    div.form-group 
        label.denimAttr(for='stretchy') Denim Stretchy
        input#cost(type='boolean', name='stretchy') 
    input(type="submit") 
 
  script. 
    document.forms['DenimForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 