extends layout

block content
  h1= title
  -let items = resultstest
  p(id ="1") Search Results
  -let results = [instance1]
  div(class = "container-fluid") outermost
  div(class = "row") middle
  each item in results
    li= item

  script
    instance1 = new denimSchema({length: 31, width: 32, stretchy: false}); 
  


