extends layout

block content
  h1= title
  p(id="1") Welcome to Drake's Page #{title}
  button(id="2" type="button", class="btn btn-secondary" onClick="test()") Press Me
  div(id="target") Clap for me
  script.
    

    var clap_count = 0
    function test() {
      clap_count += 2
      document.getElementById("target").innerHTML = clap_count
      }

  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/denimSchema") Take me to costumes 
    br 
    a(href="/logout") Logout
    // A little function to check if we have an authorized user and continue on or 
